/* initial css */

*
{
    margin:0px;
    padding: 0px;

}


body
{
    background-color: #FFFFFF;
}


/* **********LOGO********* */



#logo::first-letter{
    font-size: 45px !important;
    font-weight: bold;
}
#logo
{
    margin-left: 5px !important;
}

#icon_prefix
{
   color: wheat !important;
   font-style: oblique;
}



/* ********NAVBAR********* */

nav
{
    background: linear-gradient(90deg,#08c758,#22c28d);
    margin-top: -10px;
}

#mobile-demo
{
    background: linear-gradient(90deg,#08c758,#22c28d);
}

#mobile-demo li a
{
    color: white;
}

#mobile-demo li:hover
{
    background-color: rgb(5, 82, 56);
}


#fb
{
    width:23px;
    float: left;
    margin-top:22px; 
    margin-right: 8px; 
}
#fb-li
{
    border: 1px solid rgb(6, 95, 54);
    border-radius: 4px;
    background-color:#3B5998 !important;
}
#fb-li:hover
{
    background-color: rgb(3, 70, 53) !important;
    color:white;
}



#fb-mob
{
    width:23px;
    float: left;
    margin-top: 12px;
    margin-right: 4px;
}


/* **************PROCTORING KEY*********** */

.front
{
    margin-top: 100px;
    margin-left: 10%;
    border:1px solid black;
    width: 80%;
    height: 260px;
}

.top
{
    height:40px;
    background: linear-gradient(90deg,#08c758,#22c28d);
    border:1px solid green;
    width: 100%;
}

.down p
{
    padding-top:20px; 
   margin-left:5%; 
}

.down input
{
    margin-top: 15px !important;
    border:1px solid black !important;
    width:90% !important;
    margin-left: 5% !important; 
    text-indent:10px;
}

.down button
{
    width: 90%;
    margin-left: 5%;
    background: linear-gradient(90deg,#08c758,#22c28d);
    margin-top: 1%;
    height: 50px;
    
}

/* 
******************TEST**************** */


.test
{
    margin-top: 50px;
    width:100%;
   
    height: 350px;
    border: 1px solid black;
    background-color: rgb(225, 250, 234);
}

.head
{
    height:40px;
    background: linear-gradient(90deg,#08c758,#22c28d);
    border:1px inset green;
    width: 100%;
     
}

.test label
{
    padding: 50px;
    color:black;

}
.radio
{
   padding: 10px;
    width:100%;
    border: 1px solid rgb(128, 125, 125);
   
}

.test h5
{
    text-align: center;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}


.next
{
    width: 100%;
    height:50px;
    border: 1px inset green;
    background: linear-gradient(90deg,#08c758,#22c28d);
}

#testDiv
{
    display: none;
}

#proctDiv
{
    display:none;
}




/* *************TESTSCORE************** */

.testScore
{
    border:1px solid black;
    width: 100%;
    height: 230px;
    background-color: rgb(225, 250, 234);
    display: none;
}

.testScore h4
{
   
    text-align: center;
}

.testScore p
{
    text-align: center;
}
.testScore h3
{
    margin-top:50px;
    background-color: rgb(255, 255, 255);
    color:rgb(4, 87, 4);
   font-weight: bold;
    text-align: center;
}
/* 
*****************LOADER***************** */


.loader,
.loader:before,
.loader:after {
  background: #43e968;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #43e968;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 35px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
